@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans',sans-serif;
}

.banner {
    background: lightblue;
    padding-top: 3%;
}

.promo-title{
    font-size: 40px;
    font-weight: 600;
    margin-top: 100px;
    color:#004aad;
}

.col-md-6  .text{
    font-weight: 90px;
    font-size: 20px;
}

.col-md-6 h4{
    color:black;
    padding-left: 35px;
    font-weight: bold;
    animation: blink 3s linear infinite;
}


@keyframes blink{
    0%{opacity: 0;}
    50%{opacity: .5;}
    100%{opacity:1;}
}


.butt{
    height:50px;
    margin: 30px;
    font-weight: bold ;
    border: 3px solid darkblue;
    color:black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.5s;
    cursor: pointer;
    border-radius:20px;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
 
.butt:hover{
       background-color: white;
       color: #031e36;
       transform: scale(1.1);
       transition: 0.5s;
}

.bottom-img{
    width:100%;
}