@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open sans',sans-serif;
}

.navbar {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: lightblue;
    color: #031e36;
    width:100%;
    padding-left: 20px;
  }
  
  .brand-title{
      display: flex;
      font-size:2.5rem ;
      margin-left: 15px;
      padding: 0 25px;
  }

  .navbar-links {
    height: 100%;
  }
  
  .navbar-links ul {
    float: right;
    display: flex;
    font-size: 1.2rem;
    margin: 0 30px;
    padding: 0;
  }
  
  .navbar-links li {
    list-style: none;
    padding: 0;
  }
  
  .navbar-links li a {
    font-size: 20px;
    display: block;
    text-decoration: none;
    color:#000000;
    padding: 1.5rem;
  }
  
  .navbar-links li:hover {
    border-bottom: 5px solid #004aad;
  }
  
  .toggle-button {
    position: absolute;
    top: .75rem;
    right: 1rem;
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 21px;
  }
  
  .toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: #031e36;
    border-radius: 10px;
  }   
  
  
  @media (max-width: 904px){
    .navbar {
      padding-top: 10px;
      padding-bottom: 5px;
      flex-direction: column;
      align-items: flex-start;
    }
  
  .toggle-button {
      margin-top: 5px;
      display: flex;
    }
  
  .navbar-links {
      display: none;
      width: 100%;
    }
  
  .navbar-links ul {
      width: 100%;
      flex-direction: row;
    }
  
  .navbar-links ul li {
      text-align: center;
      justify-content: space-between;
    }
  
  .navbar-links ul li a {
      padding: .5rem 1rem;
    }
  
    .navbar-links.active {
      display: flex;
    }
  } 

  footer{
    position: relative;
    width:100%;
    background: #004aad;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  footer .social_icon,
  footer .menu{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
  }

  footer .social_icon li,
  footer .menu li{
      list-style: none;
  }
  
  footer .social_icon li a{
    font-size: 2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
  }

  footer .menu li a {
    font-size: 1.2em;
    color: white;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity:0.75;
  }

  footer .social_icon li a:hover{
    transform: translateY(-10px);
  }

  footer .menu li a:hover{
    opacity: 1;
  }

  footer p{
    opacity: 1;
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
  }

  footer .wave{
    position: absolute;
    top:-100px;
    left: 0;
    width:100%;
    height: 100px;
    background: url(/Wave-Image.jpeg);
    background-size: 1000px 100px;
  }

  footer .wave#wave1
  {
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave_02 4s linear infinite;
  }

  footer .wave#wave2
  {
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave 4s linear infinite;
  }

  footer .wave#wave3
  {
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave_02 3s linear infinite;
  }

  footer .wave#wave4
  {
    z-index: 999;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 3s linear infinite;
  }

  @keyframes animateWave {

    0%
    {
      background-position-x: 1000px;
    }

    100%
    {
      background-position-x: 0px;
    }
    
  }

  @keyframes animateWave_02 {

    0%
    {
      background-position-x: 0px;
    }

    100%
    {
      background-position-x: 1000px;
    }
    
  }