<%- include('header'); -%>

    <div class="container">
        <!--column1-->
        <div class="col">

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/1.jpg" alt="">
                <div class="product-info">
                    <h3>Photo Frames</h3>
                    <span class="price"><span class="amount">Rs 100.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/2.jpg" alt="">
                <div class="product-info">
                    <h3>Paper Wall Hanging</h3>
                    <span class="price"><span class="amount">Rs 50.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/3.jpg" alt="">
                <div class="product-info">
                    <h3>Paper Snakes</h3>
                    <span class="price"><span class="amount">Rs 80.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/4.jpg" alt="">
                <div class="product-info">
                    <h3>Decor Piece - Fish</h3>
                    <span class="price"><span class="amount">Rs 150.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/5.jpg" alt="">
                <div class="product-info">
                    <h3>Flower Vase</h3>
                    <span class="price"><span class="amount">Rs 300.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>
        </div>

        <!--column2-->
        <div class="col">
            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/6.jpg" alt="">
                <div class="product-info">
                    <h3>Bookmarks - Set of 4</h3>
                    <span class="price"><span class="amount">Rs 100.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/7.jpg" alt="">
                <div class="product-info">
                    <h3>Bird House</h3>
                    <span class="price"><span class="amount">Rs 250.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/8.jpg" alt="">
                <div class="product-info">
                    <h3>Crayon Candles - Set of 3</h3>
                    <span class="price"><span class="amount">Rs 150.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/9.jpg" alt="">
                <div class="product-info">
                    <h3>Lanterns</h3>
                    <span class="price"><span class="amount">Rs 350.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>

            <div class="product">
                <img class="img" src="/Project Revamp/Images/FlauntZone/10.jpg" alt="">
                <div class="product-info">
                    <h3>Cartoon socks</h3>
                    <span class="price"><span class="amount">Rs 450.00</span></span>
                    <button class="btn">Add to Cart</button>
                </div>
            </div>
        </div>
    </div>

    <%- include('footer'); -%>