<%- include('header'); -%>

<div class="container">
    <!--column1-->
    <div class="col">
        <div class="post">
            <img class="post-img" src="/Images/Blogs/Blog 1.webp" alt="">
            <div class="post-info">
                <h2>Importance of Trees </h2>
                <div class="user-info">
                    <img src="/Images/Blogs/Avatar 1.jpg" alt="">
                    <span>Joe Williams,</span>
                    <span>12 Aug 2021</span>
                    <span>#ENV #CLIMATE CHANGE</span>
                </div>
                <p>
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                </p>
            </div>
        </div>

        <div class="post">
            <img class="post-img" src="/Images/Blogs/Blog 2.jpg" alt="">
            <div class="post-info">
                <h2>Let's Save our Home Together</h2>
                <div class="user-info">
                    <img src="/Images/Blogs/Avatar 3.jpg" alt="">
                    <span>Vanessa Hudgens,</span>
                    <span>10 Aug 2021</span>
                    <span>#EARTH #SAVEOURPLANET</span>
                </div>
                <p>
                     I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                     I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                     I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                </p>
            </div>
        </div>
    </div>
    
    <!--column2-->
    <div class="col">
        <div class="post">
            <img class="post-img" src="/Images/Blogs/Blog 3.jpg" alt="">
            <div class="post-info">
                <h2>Reasons for Forest Fires</h2>
                <div class="user-info">
                    <img src="/Images/Blogs/Avatar 1.jpg" alt="">
                    <span>James Collin,</span>
                    <span>11 Aug 2021</span>
                    <span>#FORESTFIRE #ALARMING ISSUE</span>
                </div>
                <p>
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.  
                </p>
            </div>
        </div>

        <div class="post">
            <img class="post-img" src="/Images/Blogs/Blog 4.jpg" alt="">
            <div class="post-info">
                <h2>Melting Ice-Caps</h2>
                <div class="user-info">
                    <img src="/Images/Blogs/Avatar 4.jpg" alt="">
                    <span>Rochelle Robert,</span>
                    <span>09 Aug 2021</span>
                    <span>#ARCTICS #GLOBALWARMING</span>
                </div>
                <p>
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                    I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF. I love HTF.
                </p>
            </div>
        </div>
    </div>
</div>

<%- include('footer'); -%>
