<%- include('header'); -%>

    <div class="main">
        <div class="upcoming">
            <div class="event">Welcome to DIY ACADEMY!</div>
        </div>

        <div class="container">
            <div class="content">
                <h1>NewsPaper</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Newspapers.jpg" alt="">
                <a href="#newspaper"><button class="btn">Explore</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Plastic Bottle</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Platic Bottles.jfif" alt="">
                <a href="#plasticbottle"><button class="btn">Explore</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Carboard</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Cardboard.jpg" alt="">
                <a href="#cardboard"><button class="btn">Explore</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Kitchen Waste</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Kitchen waste.jpg" alt="">
                <a href="#kitchenwaste"><button class="btn">Explore</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Other</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Add.png" alt="">
                <a href="https://forms.gle/6ZNRm7jDkxfbUtVf8"><button class="btn">Contribute</button></a>
                <br><br>
            </div>
        </div>
    </div>
    <br>
    <div class="main">
        <!--Sections-->
        <section id="newspaper">
            <div class="upcoming">
                <div class="event1">Newspapers</div>
            </div>

            <div class="container">
                <div class="content">
                    <h1>Baskets</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Newspaper/Baskets.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=hJXuQRkuOYc"><button class="btn">Tutorial</button></a>
                    <br><br>
                </div>

                <div class="content">
                    <h1>Pen Stand</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Newspaper/Pen stand.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=3MW4Pd7tU5k"><button class="btn">Tutorial</button></a>
                    <br><br>
                </div>

                <div class="content">
                    <h1>Wall Decor</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Newspaper/Wall Hanging.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=6i8y8lNEeDM"><button class="btn">Tutorial</button></a>
                    <br><br>
                </div>
            </div>

        </section>
    </div>
    <br>
    <div class="main">
        <section id="plasticbottle">
            <div class="upcoming">
                <div class="event1">Plastic Bottle</div>
            </div>

            <div class="container">
                <div class="content">
                    <h1>Decorative Piece</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Plastic Bottles/Decorative piece.jpg"
                        alt="">
                    <a
                        href="https://www.ifashionstyles.com/parenting/20-amazing-bottle-craft-ideas-with-waste-plastic.html"><button
                            class="btn">Tutorial</button></a>
                    <br><br>
                </div>

                <div class="content">
                    <h1>Planter</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Plastic Bottles/Planters.jpg" alt="">
                    <a href="https://www.youtube.com/watch?v=W9Jd1H7JD0A"><button class="btn">Tutorial</button></a>
                    <br><br>
                </div>

                <div class="content">
                    <h1>Flower Vase</h1>
                    <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Plastic Bottles/Flower Vase.jpg"
                        alt="">
                    <a href="https://www.youtube.com/watch?v=0dRHKRyjJPw"><button class="btn">Tutorial</button></a>
                    <br><br>
                </div>
            </div>
        </section>
    </div>
    <br>
    <div class="main">
        <section id="cardboard"></section>
        <div class="upcoming">
            <div class="event1">Cardboard</div>
        </div>

        <div class="container">
            <div class="content">
                <h1>Desk organizer</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Carboard/Desk organizer.jpg" alt="">
                <a href="https://www.youtube.com/watch?v=_nRaLtPnmBo"><button class="btn">Tutorial</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Jewellery Box</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Carboard/Jewellery Box.jpg" alt="">
                <a href="https://www.instructables.com/How-to-Make-DIY-Best-Out-of-Waste-Cardboard-Organi/"><button
                        class="btn">Tutorial</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Table</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Carboard/Table.jpg" alt="">
                <a href="https://www.youtube.com/watch?v=bZYjPPfh7ts"><button class="btn">Tutorial</button></a>
                <br><br>
            </div>
        </div>

        </section>
    </div>
    <br>
    <div class="main">
        <section id="kitchenwaste"></section>
        <div class="upcoming">
            <div class="event1">Kitchen Waste</div>
        </div>

        <div class="container">
            <div class="content">
                <h1>Compost</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Vegetable Peels/Compost.webp" alt="">
                <a href="https://www.youtube.com/watch?v=Iw3rtPDwAIY"><button class="btn">Tutorial</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Ideas</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Vegetable Peels/Ideas.jpg" alt="">
                <a href="https://www.diyncrafts.com/4681/repurpose/20-surprising-uses-leftover-fruit-vegetable-peels"><button
                        class="btn">Tutorial</button></a>
                <br><br>
            </div>

            <div class="content">
                <h1>Onion Peels</h1>
                <img class="post-img" src="/Project Revamp/Images/DIY ACADEMY/Vegetable Peels/Onion peels.jpg" alt="">
                <a href="https://www.youtube.com/watch?v=MjbuaouAlnI"><button class="btn">Tutorial</button></a>
                <br><br>
            </div>
        </div>
        </section>
    </div>
    <!--actual content ends here-->
    <br>

<%- include('footer'); -%>