<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="CSS/style.css">
    <link rel="stylesheet" href="CSS/bazaar.css">
    <link rel="stylesheet" href="CSS/blogs.css">
    <link rel="stylesheet" href="CSS/contact_us.css">
    <link rel="stylesheet" href="CSS/diy_academy.css">
    <link rel="stylesheet" href="CSS/flaunt_zone.css">

    <title>Revamp</title>
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">
            <label class="logo""><b>Project Revamp</b></label>
        </div>

		<!--toggle button-->
		<a href=" #" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="/"><b>Home</b></a></li>
                        <li><a href="aboutUs"><b>About</b></a></li>
                        <li><a href="diyAcademy"><b>DIY Academy</b></a></li>
                        <li><a href="flauntZone"><b>FlauntZone</b></a></li>
                        <li><a href="blogs"><b>Blogs</a></b></a></li>
                        <li><a href="bazaar"><b>Bazaar</b></a></li>
                    </ul>
                </div>
    </nav>