<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/style.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/bazaar.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/diy_academy.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/blogs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/flaunt_zone.css">

    <link rel="stylesheet" href="/Project Revamp/FlauntZone/CSS/main.min.css">
    <link rel="stylesheet" href="/Project Revamp/FlauntZone/CSS/style.css">
    <link rel="stylesheet" href="/Project Revamp/FlauntZone/CSS/color.css">
    <link rel="stylesheet" href="/Project Revamp/FlauntZone/CSS/responsive.css">
    <link rel="stylesheet" href="/Project Revamp/CSS/index.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />



    <title>Revamp</title>
</head>

<body>
    <nav class="navbar">
        <div class="brand-title">
            <label class="logo""><b>Project Revamp</b></label>
        </div>

		<!--toggle button-->
		<a href=" #" class="toggle-button">
                <span class="bar"></span>
                <span class="bar"></span>
                <span class="bar"></span>
                </a>
                <div class="navbar-links">
                    <ul>
                        <li><a href="/"><b>Home</b></a></li>
                        <li><a href="aboutUs"><b>About</b></a></li>
                        <li><a href="diyAcademy"><b>DIY Academy</b></a></li>
                        <li><a href="flauntZone"><b>FlauntZone</b></a></li>
                        <li><a href="blogs"><b>Blogs</a></b></a></li>
                        <li><a href="bazaar"><b>Bazaar</b></a></li>

                        <% if (logged == true) { %>
                            <li><a href="logout"><b>Logout</b></a></li>
                        <% } %>
                    </ul>
                </div>
    </nav>