<%- include('header'); -%>

    <div style="text-align: center;">
        <h1>Login</h1>
        <div>
        <div id="sawo-container" style="margin:auto; display : flex; justify-content : center; width : 25%; height: 450px;"></div>

        <script src="https://websdk.sawolabs.com/sawo.min.js"></script>
        <script>
            const payload = sessionStorage.getItem("payload");
            if (payload) {
                window.location.href = "/";
            }
            var config = {
                containerID: "sawo-container",
                identifierType: "email",
                apiKey: "6e72516e-0231-4abd-b90f-65d38ce8db45",
                onSuccess: (payload) => {
                    sessionStorage.setItem("payload", JSON.stringify(payload));
                    window.location.href = "/";
                },
            };
            var sawo = new Sawo(config);
            sawo.showForm();

            document.cookie = "payload="+payload;
        </script>
    </div>

<%- include('footer'); -%>